.input {
  width: 100%;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;

  border: none;
  transition: all 0.3s ease;
}

.input:active,
.input:focus,
.input:hover {
  outline: none;
  box-shadow:
    0 0 0 2px #36304a,
    0 0 0 4px white;
}
